@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fcfcfc;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.custom-bg {
  background-color: #fef7e5 !important; /* light blue color */
}

.navbar {
    background-color: #fef7e5;
    box-shadow: 0 1px 7px rgba(0,0,0,0.25);
}

ul.nav.navbar-nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav.navbar-nav li:not(:last-child) {
    margin-right: 60px;
}

.nav.navbar-nav a {
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;

    padding: 0px;
    display: table-cell;

}

li .dropdown-menu {
    position: relative;
    right: 0;
    left: 0;
}

.dropdown-menu ul {
    list-style: none;
}

.dropdown-menu a:hover {
    color: #FFC300;
}

.list-inline {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.list-inline > li {
    display: inline-block;
}
