flask
flask-sqlalchemy
flask-bcrypt
python-dotenv
flask-jwt-extended
flask-cors
redis
flask-session
flask-migrate
psycopg2-binary
feedparser~=6.0.10
pandas~=1.5.2
numpy~=1.23.0
nltk~=3.8.1
scikit-learn~=1.2.1
gensim~=4.3.1
beautifulsoup4~=4.11.1
plotly~=5.14.1
matplotlib~=3.7.1

bcrypt~=3.2.0
PyJWT~=2.6.0
requests~=2.25.1
psycopg2~=2.9.2
sklearn~=0.0.post1
bs4~=0.0.1