flask
flask-sqlalchemy
flask-bcrypt
python-dotenv
flask-jwt-extended
flask-cors
redis
flask-session
flask-migrate
psycopg2-binary
feedparser
pandas
numpy
nltk
scikit-learn
gensim
beautifulsoup4
plotly
matplotlib
