abbr {
  position: relative;
}

abbr[data-original-title]:hover::after {
  background: #fef7e5;
  outline-color: #c3bcad;
  outline-width: 1px;
  outline-style: solid;
  border-radius: 10px;
  content: attr(data-original-title);
  display: block;
  left: 100%;
  padding: 10px;
  position: absolute;
  width: 280px;
  z-index: 1;
}
