.slide {
    width: 100%;
    height: 60vh;
}

.text {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(116, 116, 116, 0.51);
}

.comments {
    display: flex;
    flex-direction: column;
}

.comment {
    margin-bottom: 10px;
}


.comment-body {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.comment-body-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.comment-user-name {
    font-weight: bold;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #343a40;
}

.comment-date {
    font-size: 12px;
    color: gray;
    position: absolute;
    right: 0;
    padding-right: 10px;
}

.comment-text {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


.sorting {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.sort-label {
    margin-right: 10px;
}

.sort-select {
    padding: 5px;
}

.sort-option {
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.page-number {
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.page-number.active {
    background-color: #ccc;
}

.text-custom-dark {
    font-weight: bold;
    color: #343a40 !important; /* This is Bootstrap's 'dark' color */
}

.btn-outline-primary:hover .text-custom-dark {
    color: #f8f9fa !important;
}

.text-custom-light {
    color: #f8f9fa !important; /* This is Bootstrap's 'light' color */
}

.btn-outline-primary:not(:hover) .text-custom-light {
    color: #343a40 !important;
}


.text a {
    font-size: 25px;
    font-weight: 400;
    color: black;
    max-width: 40rem;
    text-decoration: none;
}

.row a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgba(255, 195, 0, 1);
}

.article-card {
    height: 100%;
    max-width: 389px;

    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

.articles-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}


.article-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: RGBA(0, 0, 0, 0.10);
    border-color: RGBA(0, 0, 0, 0.10);
}

.img-fluid {
    width: 100%;
    aspect-ratio: 13/9;
    object-fit: cover;
}

.form-control:focus {
    border-color: RGBA(0, 0, 0, 0.10);
    box-shadow: 0 0 0 0.2rem #fef7e5;
}

.btn-danger {
    border-color: #fa6f65;
    color: white;

}

.btn-danger:hover {
    border-color: #fa6f65;
    color: white;
}

.btn-outline-danger {
    border-color: #fa6f65;
    color: #fa6f65
}

.btn-outline-danger:hover {
    border-color: #fa6f65;
    background: #fa6f65;
    color: white;
}

button.dropdown-item:hover {
    background: #fef7e5;
}

.btn-outline-secondary {
    background-color: white;
    border-color: RGBA(0, 0, 0, 0.10);
}

.btn-outline-secondary:focus {
    background-color: #fef7e5;
    color: black;
    border-color: RGBA(0, 0, 0, 0.10);
    box-shadow: 0 0 0 0.2rem #fef7e5;
}

.btn-outline-secondary:not(:focus) {
    background-color: white;
    border-color: RGBA(0, 0, 0, 0.10);
    color: #6c757d;
}

.modal {
    font-size: 12px;
}

.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.modal > .content {
    width: 100%;
    padding: 10px 5px;
}

.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}

.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

button {
    border: none;
    margin: 5px;
    cursor: pointer;
}

.icon {
    animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

p {
    font-size: 14px;
}

.boxi {
    position: relative;
    text-align: center;
}

.bottom-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: black;
    padding: 3px;
    background-color: #F5F5F5;
}

.card {
    background-color: #F5F5F5;
}

.clipboard-link {
    padding-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* adjust the value as needed */
}

.background-newspaper {
    background-color: transparent;
    decoration: none;
}

.background-newspaper:hover {
    scale: 1.03;
    transition: 0.1s;
}

.loading-animation {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    border: 4px solid #ffffff;
    border-top-color: #fa6f65;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.form-group .filter-bar {
    display: flex;
    margin-right: 5px;
    justify-content: center;
}

.logo {
    width: 100%;
    object-fit: cover;
    height: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 767px) {
    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .form-group .filter-bar {
        display: flex;
        padding-bottom: 15px;
        margin-right: 5px;
        justify-content: center;
    }
}
