<!DOCTYPE html>
<html>
<head>
    <title>Page Not Found</title>
</head>
<body>
<div class="error-container">
    <div class="error-title">
        <h1>Oops!</h1>
    </div>
    <div class="error-message">
        <p>Sorry, we couldn't find the page you were looking for.</p>
        <p>Please check the URL and try again, or explore our other links below:</p>
    </div>
    <div class="error-links">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
        </ul>
    </div>
</div>
</body>
</html>
