#quote-container {
   text-align: center;
   padding: 20px;
   background-color: #f5f5f5;
   border: 1px solid #ddd;
   border-radius: 5px;
   max-width: 80%;
   margin: 0 auto;
   margin-top: 20px; /* Adjust the margin-top value as needed */
}

#quote-text {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 10px;
}

#quote-author {
    font-size: 18px;
}
