{% extends 'base.html' %}

{% block title %}News Aggregator | Database{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<h1>News Aggregator
    <br><br>
    <li><a href="{{ url_for('DBRssfeeds') }}">rssfeeds</a></li>
    <li><a href="{{ url_for('DBNewsarticles') }}">Newsarticles</a></li>
    <li><a href="{{ url_for('DBVisitors') }}">Visitors</a></li>
    <li><a href="{{ url_for('DBUsers') }}">Users</a></li>
    <li><a href="{{ url_for('DBCookies') }}">Cookies</a></li>
    <li><a href="{{ url_for('DBHasClicked') }}">HasClicked</a></li>
    <li><a href="{{ url_for('DBFavored') }}">Favored</a></li>
    <li><a href="{{ url_for('Backup') }}">Backup</a></li>
    <li><a href="{{ url_for('addVisitor') }}">addVisitor</a></li>
</h1>
{% endblock %}