{% extends 'base.html' %}

{% block title %}News Aggregator | Home{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<h1>News Aggregator
    <li></li>
    <li><a href="{{ url_for('TestRssfeeds') }}">rssfeeds</a></li>
    <li><a href="{{ url_for('TestNewsarticles') }}">Newsarticles</a></li>
    <li><a href="{{ url_for('TestVisitors') }}">Visitors</a></li>
    <li><a href="{{ url_for('TestUsers') }}">Users</a></li>
    <li><a href="{{ url_for('TestCookies') }}">Cookies</a></li>
    <li><a href="{{ url_for('TestHasClicked') }}">HasClicked</a></li></h1>
{% endblock %}


